/* style.scss file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trirong", serif;
  background-color: rgb(202, 202, 202);
}

.containers {
  display: grid;
  text-align: center;
}
.containers .section {
  margin-top: 200px;
  min-height: 600px;
}

h2 {
  font-family: "Sofia", sans-serif;
  font-size: 2rem;
  margin-bottom: 100px;
}

.menu-container {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(202, 202, 202, 0.9);
  padding: 10px 20px;
  z-index: 100;
}
.menu-container .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Sofia", sans-serif;
}
.menu-container .nav-menu .logo {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu-container .nav-menu .logo:hover {
  color: yellow;
}
.menu-container .nav-menu ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu-container .nav-menu ul li {
  list-style: none;
}
.menu-container .nav-menu ul li a {
  text-decoration: none;
  color: black;
}
.menu-container .nav-menu ul li a:hover {
  color: yellow;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 0 15px;
  margin: 15px 0;
  height: 500px;
}
header h1 {
  font-size: 2.25rem;
}
header img {
  max-width: 500px;
  height: 100%;
  color: rgb(202, 202, 202);
  filter: grayscale(100%);
}
header img:hover {
  filter: grayscale(0%);
  transition: filter 1.5s;
}
@media screen and (max-width: 500px) {
  header img {
    display: none;
  }
}

.about .about-icons ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  font-size: 80px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .about .about-icons ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
.about .about-icons li {
  list-style: none;
}
.about .about-icons li p {
  font-size: 15px;
  display: none;
}
.about .about-icons li:hover {
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 3px;
}
.about .about-icons li:hover p {
  display: block;
}

.works .work-box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .works .work-box {
    flex-direction: row;
    gap: 3rem;
    justify-content: space-around;
  }
}
.works .work-box .work img {
  width: 200px;
  height: auto;
}

.contact .section-contact-1 {
  display: grid;
  gap: 2rem;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .contact .section-contact-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact .section-contact-1 .input-area {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: auto;
  width: 100%;
  max-width: 400px;
}
.contact .section-contact-1 .input-area .download-resume {
  display: flex;
  font-size: 0.7rem;
}
.contact .section-contact-1 .input-area .download-resume:hover {
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 3px;
  width: -moz-fit-content;
  width: fit-content;
}
.contact .section-contact-1 .input-area .input {
  border-radius: 3px;
  border: none;
  padding: 10px;
}
.contact .section-contact-1 .input-area .input:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  .contact .section-contact-1 .input-area .input {
    font-size: 1.1rem;
  }
}
.contact .section-contact-1 .text-and-submit-area {
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  height: auto;
  margin: auto;
  width: 100%;
  max-width: 400px;
}
.contact .section-contact-1 .text-and-submit-area textarea {
  border: none;
  border-radius: 3px;
  padding: 10px;
  height: 150px;
}
.contact .section-contact-1 .text-and-submit-area textarea:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.contact .section-contact-1 .text-and-submit-area button {
  border: 1px solid rgb(160, 160, 160);
  border-radius: 3px;
  padding: 10px;
  background-color: white;
}
.contact .section-contact-1 .text-and-submit-area button:hover {
  background-color: rgb(70, 70, 70);
  color: whitesmoke;
}
@media screen and (min-width: 768px) {
  .contact .section-contact-1 .text-and-submit-area textarea {
    margin-top: 75px;
    font-size: 1.1rem;
  }
}
.contact .section-contact-2 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) {
  .contact .section-contact-2 {
    margin-top: 100px;
  }
}
.contact .section-contact-2 div .fa-solid {
  color: whitesmoke;
}
.contact .section-contact-2 div a {
  text-decoration: none;
  color: whitesmoke;
}
.contact .section-contact-2 div .contact-info:hover {
  color: yellow;
  border-radius: 3px;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=style.css.map */